@(form: Form[AuthController.LoginForm])
@main("Jitensha - Login") {
        <body>
        @helper.form(routes.AuthController.authenticate) {
                <div class="container d-flex align-items-center h-100">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <h1 class="text-center text-primary"><a href='@routes.HomeController.index()' class="nounderline">JITENSHA</a></h1>
                            @if(form.hasErrors) {
                                <div class="alert alert-error">
                                    <a class="close" data-dismiss="alert">x</a>
                                    @if(form.errors.size() > 0) {
                                        @for((key, value) <- form.errors) {
                                            @key.toString() :
                                            @for(err <- value) {
                                                @err.message().toString()
                                            }
                                        }
                                    } else {No error returned.}
                                </div>
                            }
                            <form>
                                <div class="form-group">
                                    <label for="inputEmail">Email address</label>
                                    <input name="email" type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="john_doe@@gmail.com" value="@form("email").value">
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword">Password</label>
                                    <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Password">
                                </div>
                                @helper.CSRF.formField
                                <button type="submit" class="btn btn-primary align-middle">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
        }
        </body>
}


