@(product: Product, compatibleSet: HashSet[Product])
@main("JITENSHA") {

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">JITENSHA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href='@routes.HomeController.index()'>Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@routes.ProductListController.getProductList("Bikes", 1)">Bicycles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@routes.ProductListController.getProductList("Components", 1)">Components</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@routes.ProductListController.getProductList("Clothing", 1)">Clothing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@routes.ProductListController.getProductList("Accessories", 1)">Accessories</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">

                <a class="nav-link p-2" href="@routes.AuthController.login()" rel="noopener" aria-label="Slack">
                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                </a>
                <a class="nav-link p-2" href="@routes.RegistrationController.register()" rel="noopener" aria-label="Slack">
                    <i class="fa fa-user-o" aria-hidden="true"></i>
                </a>
                <a class="nav-link p-2" href="#" target="_blank" rel="noopener" aria-label="Slack">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </a>
            </form>
        </div>
    </nav>

    <h1>Product details (scrollable)</h1>
    <div class="pre-scrollable">
    @product
    </div>
    <h1>Compatible products (check if has elements)</h1>
    <div class="pre-scrollable">
    @compatibleSet
    </div>
    <h1>'Add to cart' button</h1>

    </main> <!-- /.container -->
}