@(filterMap: HashMap[String, List[String]], productList: List[Product], categoryName: String)
@main("Welcome to Play") {

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">JITENSHA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href='@routes.HomeController.index()'>Home</a>
                </li>
                <li @if("Bikes".equals(categoryName)) {
                    class="nav-item active"
                } else {
                    class="nav-item"
                    }>
                    <a class="nav-link" href="@routes.ProductListController.getProductList("Bikes")">
                        Bicycles
                    </a>
                </li>
                <li @if("Components".equals(categoryName)) {
                    class="nav-item active"
                } else {
                    class="nav-item"
                    }>
                    <a class="nav-link" href="@routes.ProductListController.getProductList("Components")">
                        Components
                    </a>
                </li>
                <li @if("Clothing".equals(categoryName)) {
                    class="nav-item active"
                } else {
                    class="nav-item"
                    }>
                    <a class="nav-link" href="@routes.ProductListController.getProductList("Clothing")">
                        Clothing
                    </a>
                </li>
                <li @if("Accessories".equals(categoryName)) {
                    class="nav-item active"
                } else {
                    class="nav-item"
                    }>
                    <a class="nav-link" href="@routes.ProductListController.getProductList("Accessories")">
                        Accessories
                    </a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">

                <a class="nav-link p-2" href="@routes.AuthController.login()" rel="noopener" aria-label="Slack">
                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                </a>
                <a class="nav-link p-2" href="@routes.RegistrationController.register()" rel="noopener" aria-label="Slack">
                    <i class="fa fa-user-o" aria-hidden="true"></i>
                </a>
                <a class="nav-link p-2" href="#" target="_blank" rel="noopener" aria-label="Slack">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </a>
            </form>
        </div>
    </nav>

    <div class="container"></div>
    <div class="row">
        <div class="col-md-2">
            <div class="mt-5" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="card">
                    <div class="card-header" role="tab" id="headingOne">
                        <h5 class="mb-0">
                            <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Size
                            </a>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                        <div class="card-block">
                            <div class="row">
                                <div class="col">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox"> Check me out
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox"> Check me out
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox"> Check me out
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="headingTwo">
                        <h5 class="mb-0">
                            <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Wheels
                            </a>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="card-block">
                            <div class="row">
                                <div class="col">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox"> Check me out
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox"> Check me out
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox"> Check me out
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="headingThree">
                        <h5 class="mb-0">
                            <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Manufacturer
                            </a>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="card-block">
                            <div class="row">
                                <div class="col">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox"> Check me out
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox"> Check me out
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox"> Check me out
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary btn-block">FILTER</button>
        </div>
        <div class="col-md-10">
            <h1>Filtermap (scrollable)</h1>
            <div class="pre-scrollable">
            @filterMap
            </div>
            <h1>Products (scrollable)</h1>
            <div class="pre-scrollable">
            @productList
            </div>
        </div>
    </div>
    @*</main> <!-- /.container -->*@
}